body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4dbac8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.caculate-container{
    background-color: #ebf5ff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
.calculator-result-preview{
    background-color: #cce6ff;
    width: auto;
    border-radius: 5px;
    padding: 10px;
}
#operation{
    color: #4f8ac5;
    font-size: 10px;
}
#operation-result{
    color: #173c3d;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.button{
    
}